.aboutpage {
    width: 100%;
    height: 100vh;
    background-color: #8a96d6;
    background-image: linear-gradient(
      43deg,
      #8a96d6 0%,
      #9dc5c2 46%,
      #ffd970 100%
    );
    padding-top: 110px;
  }

.textbackground {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: initial;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
  }
  .aboutmetext {
    font-size: 2em !important;
    color: #191919 !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    font-family: 'Nunito', sans-serif;
    padding-top: 1rem;
  }

  .aboutdetails {
    font-size: 1.5rem !important;
    font-family: 'Nunito', sans-serif;
    padding-top: 1rem;
  }
  .skillslist li {
    letter-spacing: 1px;
    font-family: "Exo 2", sans-serif;
  }
  .skillslist {
    font-weight: 600;
    list-style-type: "⮞  ";
  }
  .skillslist li:hover {
    transform: scale(1.05);
    transition: 5ms;
    color: #e8e8e8;
  }
  .webimage {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0 0 30px #807f7f;
    filter: drop-shadow(10px 10px 20px black);
    background-image: url(../Assests/profileimagetransparent2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  @media (max-width: 767px) {
    .aboutpage {
      width: 100%;
      height: 100%;
    }
    .textbackground {
      display: block;
      margin: 0 auto;
    }

    .webimage {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        box-shadow: 0 0 30px #807f7f;
        filter: drop-shadow(10px 10px 20px black);
        background-image: url(../Assests/profileimagetransparent2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
  }

@media (min-width: 1200px) {
    .container {
        max-width:1350px;
    }
}
  